<!--<div class="pages">     
      <md-list *ngIf="!show_chat">
        <md-list-item *ngFor="let searchi of searches" (click)="showChat()" >
          <i md-list-icon class="material-icons">&#xE853;</i>
          <h4 md-line> {{searchi.searchby}} </h4>
          <p md-line>  {{searchi.searchDetails}} </p>
          <p md-line> {{searchi.searchtime}} </p>
        </md-list-item>
      </md-list>
      <div *ngIf="show_chat">
        <app-chat></app-chat>
        <button md-button (click)="showChat()" > back </button>
      </div>
</div>
-->