<app-header class="fxd_hdr"></app-header>
<header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner" style="text-align: center;">
                            <h3 style="text-align: center;">You'll never have to deal with accommodation by yourself again</h3>
                            <a routerLink='/signup' class="btn btn-outline btn-xl page-scroll" style="border: 1px solid white">
                                Start Now it's free !
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here,
                                     some HTML, an animation, video, or anything else! -->
                                    <img src="../../assets/img/Screenshot_3.png" class="img-responsive" alt="clickinn display">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <br>
                        <h2>Clickinn is for landlords and accommodation seekers</h2>
                        <p>Check out what you can do on Clickinn</p>
                        <hr size="1px" width="40%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="../../assets/img/Screenshot_4.png" class="img-responsive" alt="clickinn display"> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <h3>Looking for accommodation you can</h3>
                                    <ul class="text-muted" style="font-size:20px">
										<li><a> Search for your desired place</a></li><br>
										<li><a> Get live assistance from landlords/agents</a></li><br>
										<li><a> Make appointment to view a place</a></li><br>
										<li><a> Instant chat with agents/landlords</a> </li>
									</ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <h3>Landlords/agents can</h3>
                                    <ul class="text-muted"  style="font-size:20px">
										<li> <a>Upload all your properties at once</a></li><br>
										<li> <a>See people's searches (live)</a> </li><br>
										<li> <a>Instant chat with people searching (potential tenants)</a> </li><br>
                                        <li> <a>Set up a 3D vitual tour for your property </a></li>
									</ul>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>

        </div>
        <hr>
        <div style="text-align: center;margin-top: 20px; margin-bottom: 20px">
            <h2> Sponsors: </h2>
            <img src="../../assets/img/Student_Inn_logo.jpg" width="30%" height="auto" class="img-responsive" alt="Studentinn logo">
        </div>
    </section>
	
    <!-- <section id="download" class="download bg-primary text-center" style="color: white; text-align: center">
        <div class="container">
            <h3 class="section-heading">Discover easy accommodation on clickinn and never look back</h3>
            <p>Our app is available on the google playstore! Download now to get started!</p>
            <div class="badges">
                <a class="badge-link" href="#"><img src="../assets/img/google-play-badge.svg" alt=""></a>
            </div>
        </div>
    </section> -->