<div fxLayout="column">
	<app-header class="fxd_hdr"></app-header>
	<div style="text-align: center;">
		<h1 style="margin-top: 15px; font-family: Roboto"> <font color="#1F618D">About clickinn <hr width="60%"></font></h1>
		<mat-card style="width: 90%; margin-left: auto; margin-right: auto;">
			<h2><font color="#48C9B0"> Background <hr width="60%"></font> </h2>
			<p>
				<b>Clickinn</b> is a platform that makes accommodation seeking much easier by providing a powerful search tool that is backed by a live accommodation-agent who is ready to assist with accommodation needs. This platform is a successor of the <b>ClassFinder++</b> accommodation feature (which was launched in the beginning of 2017). Clickinn has not officially been launched yet but has started operating in January 2018.<br><br>

				The team behind the <b>Clickinn</b> platform is the same team that started <b>ClassFinder++</b> with intention of providing an all-round student convenience product. The ClassFinder++ project currently revolves around; student accommodation, textbooks and graduation attire supplies. The team decided to single out the accommodation feature and make it a platform in its own right, which targets accommodation for the general market, including student accommodation and all non-student accommodation. 
			</p>
			<h2> <font color="#48C9B0">Mission <hr width="60%"> </font></h2>
			<p>
				The mission of Clickinn is to connect the accommodation industry such that there will be no accommodation operating in isolation. In simple terms we want everyone (using clickinn) to be able to know about ALL(atleast 90%) the accommodations available in any area of interest.  
			</p>
			<h2><font color="#48C9B0"> Vision <hr width="60%"> </font></h2>
			<p>
				We see ourselves as the Google Maps of accommodations, with more human-assisted services.  
			</p>

			<h2> <font color="#48C9B0">How does clickinn work ? <hr width="60%"> </font></h2>
			<p>
			   Clickinn lists partner accommodations which appear to visitors looking for accommodation. These accommodations are filtered accordingly when a user searches and user can browse through them. As soon as a user submits a search, accommodation agents are alerted and can respond with assistance to the user's search. The user can also directly chat with the advertiser of an accommodation of interest and arrange a booking. Accommodation seekers are currently not charged a cent for the whole service provided by the accommodation agents in assisting them to secure accommodation.
			</p>

			<h2> <font color="#48C9B0">Areas covered <hr width="60%"></font></h2>
			<p>
			   The platform is currently only operating in the Auckland Park area, the team anticipates to expand to other parts of Johannesburg within the next two months (February and March 2018) and to the Western Cape and Kwa Zulu Natal by June.
			</p>

			<h2><font color="#48C9B0"> The Clickinn team <hr width="60%"> </font></h2>
			<p>
			   The Clickinn operational team is comprised of students, mostly final year, from the University of Johannesburg, the team is based in Auckland Park and has the following executive team: <br><br>

			   - Thapelo Seema (President and Innovation Director) <br>
			   - Thandokazi Kweyama (CEO) <br>
			   - Divine Dube (Chief Technology Officer)<br>
			   - Bobby Seema (PR and Content Director)<br>
			   - Sipho Maduna (Marketing Director)<br>
			</p>

			<h2><font color="#48C9B0"> Contact Us <hr width="60%"></font> </h2>
			<p>
			   Contact us on the following number for any enquiries:<a href="tel:+27823114484"> 0823114484</a>
			</p>

			
		</mat-card>
	</div>
</div>
